@charset "UTF-8";
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #EDEDED;

}
/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */
header, section, footer, aside, nav, article, figure {
	display: block;
}

.preContainer {
	position:relative;
	background-color: #0071bc;
	font-size: 12px;
	color: #FFF;
	margin-bottom: 0px;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}




.container {
	position:relative;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	border-top: 1px solid #333333;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	border-top: 0px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #FFF;
	box-shadow: 6px 0 12px -4px #818181, -6px 0 12px -4px #818181;
    -webkit-box-shadow: 6px 0 12px -4px #818181, -6px 0 12px -4px #818181;
	-moz-box-shadow: 6px 0 12px -4px #818181, -6px 0 12px -4px #818181;
	box-shadow: 6px 0 12px -4px #818181, -6px 0 12px -4px #818181;
}
.container .header {
	margin-top: 0px;
	margin-bottom: 10px;
	height: 150px;
	width:100%;
}

.container .headerCF {
	margin-top: 0px;
	margin-bottom: 10px;
	height:90px;
	width:100%;
}
.container .header .header-logo {
	padding: 0px;
	float: left;
	width: 180px;
	margin-left: 40px;
	margin-top: 10px;

	border:none;
}

.container .headerCF .header-logo {
	padding: 0px;
	float: left;
	width: 180px;
	margin-left: 40px;
	margin-top: 10px;

	border:none;
}
.headerBottom{
	clear:both;
	margin-top:-10px;
	margin-bottom:-10px;
	zoom: 1;
position: relative;}
	
.headerBottom1{margin-top:-20px;
zoom: 1;
position: relative;}

.container .header .banner728 {
	height: 90px;
	width: 728px;
float:right;
	background-color: #666666;
	
	margin: 10px;
}


.container .headerCF .banner728 {
	height: 90px;
	width: 728px;
float:right;
	background-color: #666666;
	
	margin: 10px;
}

.tickerA{margin-top:-10px;

position: relative;

zoom: 1;}
.menu {margin-left:0;
	clear: both;
	margin-top: 10px;
}
.ajx {
	clear: both;
	font-size: 10px;
	color: #069;
	height: 100%;
	padding: 0px;
	margin-bottom:10px;
	
}
.clear {
	clear: both;
}
.mainContent {
	/* [disabled]background-color: #699;
*/

	margin: 0px;
	padding: 0px;
	clear: both;
	font-size: 12px;
	width: 1000px;
}
.container .ajx #autosuggest {
	width: 450px;
	float: left;
}
.socialButtons {
	float: right;
	clear: right;
	margin-right: 10px;
}
.social{height:100%;}
.tdABorder {
	padding: 2px;
	border: 1px solid #333;
}
.container .cities #cname {
	font-size: 11px;
	color: #000;
	background-color: #FFCC33;
	height: 18px;
	width: 110px;
	border: 1px solid #000;
	
}
.footer {
	background-color: #0071bc;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	width: 100%;
	font-size: 12px;
	color: #FFF;
	margin-bottom: 0px;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}
.footerAfter {

	background-color: #0071bc;
	font-size: 12px;
	color: #FFF;
	margin-bottom: 0px;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}
/*bottom nav */

#bottom-nav {
	clear:both;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 0;
	height: 26px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
display:block;


}
#bottom-nav ul {
	display: inline;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#bottom-nav li {
	height: 26px;
	border-right: 1px solid #cecece;
	list-style-type: none;
	/*background-image: url(../graphics/top-nav-active.gif);*/
	background-repeat: repeat-x;
	background-position: left top;
	display: inline-block;

*display: inline;
zoom: 1;
	
}
#bottom-nav li a {
	color: #0099CC;
	text-decoration: none;
	text-align: center;
	background-repeat: repeat-x;
	background-position: left top;
	padding-right: 7px;
	padding-left: 7px;
	padding-bottom: 0px;
	line-height: 26px;
		
}
#bottom-nav li a:hover {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #C33;
}
