@charset "UTF-8";
/*
Item Name : CSS3 Mega Drop Down Menu
Author URI : http://codecanyon.net/user/Pixelworkshop/
Item URI : http://codecanyon.net/item/css3-mega-drop-down-menu/126387
Version : 5.0
*/

/*

TABLE OF CONTENTS

01 MENU BAR
02 DROP DOWN MENU
03 CONTENT STYLING
04 CONTACT FORM
05 LIGHT THEME
06 DARK THEME
07 COLORS
08 MOBILE DEVICES

*/



/*  _______________________________________

	01 MENU BAR
    _______________________________________  */



/* IMPORTANT NOTICE
   If you're using the whole width menu, you should use at least a reset like :
   * {margin:0; padding:0;}
   Otherwise, some browsers may add margins and won't place the menu properly.
   It generally helps to include a CSS reset like : 
   http://meyerweb.com/eric/tools/css/reset/
   Keep in mind that a reset must be placed first, before any other CSS markup.
*/
.wrapper_menu {
	
	width: 980px;
	margin:0 auto;
	display:block;
	position: relative;
	z-index:1000;
}
	.wrapper_menu .menu {
		list-style:none;
		min-width:960px;
		margin-bottom:1px;
		height:30px;
		padding:0 0px 0 0px;
		/*-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;*/
	}
.wrapper_menu_full {
    margin:0;
    position: relative;
    z-index:10;
}
	.wrapper_menu_full .menu {
		width:940px;
		padding:0;
		heigh: 43px;
	}
	.wrapper_menu_full .menu_whole_width {
		list-style:none;
		width:940px;
		margin:0 auto;
		height:43px;
		padding:0;
	}
.menu li {
	float:left;
	text-align:center;
	position:relative;
	margin-right:20px;
	margin-top:0px;
	border:none;
	
}
.menu .fullwidth {
	position: static !important;
}
.menu li:hover {
	border-bottom:none;
	margin-right:10px;  /*Apostasi menu items hover*/
    -webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.menu li.nodrop:hover {
	padding: 4px 10px 4px 9px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
}
.menu li.nodrop:hover a {
	padding: 0;
}
.menu li a { /* font color*/
	color: #fff;
	outline:0;
	padding: 5px 10px 3px 10px;
	text-decoration:none;
	display:block;
	
	
	/*text-shadow: 1px 1px 1px #000;*/
}
.menu li:hover a {
	text-shadow: none;
	position:relative;
	z-index:11;
	padding: 4px 9px 4px 9px;
	
}
.menu li:hover div a {
	display:inline;
}
.menu li .drop,
.menu li:hover .drop {
	padding-right:22px;
	
}

/* Right aligned menu item */

.menu li.right {
	float:right;
	right:0;
	margin-right:0;
}
.menu li.right:hover {
	margin-right:-1px;
}



/*  _______________________________________

	02 DROP DOWN MENU
    _______________________________________  */



/* Left & right aligned common styles */
.menu .dropdown_4columns_second_level{
	min-width:610px;
	}
.menu .dropdown_3columns_second_level{
	min-width:455px;
	}
.menu .dropdown_2columns_second_level
{min-width:302px;
}

.menu .dropdown_2columns_first_level_variation_a {
	min-width:280px;
	margin:4px auto;
	left:-999em;
	position:absolute;
	padding:6px;
	text-align:left;
	-webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
background:#fff;
	border:1px solid #444444;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#BBBBBB));
	background: -webkit-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -o-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -ms-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: linear-gradient(top, #EEEEEE, #BBBBBB);*/
	
	
	
	}
	
	.menu .dropdown_2columns_first_level { /*Thalasses*/
	min-width:302px;
	margin:4px auto;
	left:-999em;
	position:absolute;
	padding-left:6px;
	
	padding-bottom:6px;
	padding-top:6px;
	text-align:left;
	-webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
	
	
	}
	
	.menu .dropdown_2columns_first_level1 { /*ATTIKI*/
	min-width:301px;
	margin:4px auto;
	left:-999em;
	position:absolute;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:6px;
	padding-top:6px;
	text-align:left;
	-webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
	
	
	}
	
.menu .dropdown_maps{
	margin:4px auto;
	left:-999em;
	position:absolute;
	padding:6px;
	text-align:left;
	-webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
	}

.menu .dropdown_1column, 
.menu .dropdown_2columns, 
.menu .dropdown_3columns, 
.menu .dropdown_4columns,
.menu .dropdown_5columns,
.menu .dropdown_fullwidth {
		
	margin:4px auto;
	left:-999em;
	position:absolute;
	padding:6px;
	text-align:left;
	-webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
}

/* Drop Downs Sizes */

.menu .dropdown_1column {width: 142px;}
.menu .dropdown_2columns {width: 360px;}
.menu .dropdown_3columns {width: 455px;}
.menu .dropdown_4columns {width: 610px;}
.menu .dropdown_5columns {width: 765px;}
.menu .dropdown_fullwidth {
	width: 920px;
    -webkit-border-radius:5px;
	-moz-border-radius:5px;
    border-radius:5px;
}
.menu li .first_fullwidth {
    -webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
}

/* Showing Drop Down on Mouse Hover - Left aligned */
.menu li:hover .dropdown_maps,
.menu li:hover .dropdown_1column, 
.menu li:hover .dropdown_2columns, 
.menu li:hover .dropdown_2columns_first_level_variation_a,
.menu li:hover .dropdown_2columns_first_level,
.menu li:hover .dropdown_2columns_first_level1,
.menu li:hover .dropdown_3columns,
.menu li:hover .dropdown_4columns,
.menu li:hover .dropdown_5columns {
	left:-1px;
	top:25px;
}
.menu li:hover .dropdown_fullwidth {
	left:21px;
	top:33px;
	display: block;
}
.wrapper_menu_full .menu li:hover .dropdown_fullwidth {
	left:50%;
	margin-left:-470px;
	top:40px;
	display: block;
}

/* Showing Drop Down on Mouse Hover - Right aligned */

.menu li .align_right {
    -webkit-border-radius: 5px 0 5px 5px;
	-moz-border-radius: 5px 0 5px 5px;
    border-radius: 5px 0 5px 5px;
}
.menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:25px;
}
.menu li.right:hover .dropdown_fullwidth {
	right:18px;
	top:33px;
}
.wrapper_menu_full .menu li.right:hover .dropdown_fullwidth {
	left:auto;
	right:50%;
	margin-right:-471px;
	top:32px;
}

/* Columns Sizes */


.menu .col_1,
.menu .col_2,
.menu .col_3,
.menu .col_4,
.menu .col_5,
.menu .col_6 {
	float: left;
	margin-left: 0px;
}
.menu .col_1 {
	width: 147px;
	
}
.menu .col_1_map {
	
	margin-left: 147px;
	padding-top:15px;

	

	
}
.banner120x240 {

}
.banner300x100{}

#hot{
	color: #000;
	background-image: url(../../graphics/designelements/menuElements/Hotitem2.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #F90;
	margin-top:-1px;
	margin-bottom:-1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;	
	}
	
	#anytimeAdmenu{
		
	background-image: url(../../ads/anytime54x17.jpg);
	background-repeat: no-repeat;
	background-position: 90px 4px;
	z-index:1000;

	
	
	}
	#anytimeAdmenu a:hover{
			
	background-image: url(../../ads/anytime54x17.jpg);
	background-repeat: no-repeat;
		background-position: 92px 4px;
	
	z-index:1000;
	}
.textmap{padding-top:50px;
max-width:390px;

}
.innerTextmap{background-color: #ffffff;
	margin-left:150px;
	margin-right:20px;
	padding:10px;

	border-radius: 10px 10px 10px 10px;
	font-size:12px;}

.menu .col_1_map .border{
	
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #8F8F8F;
	padding-left:10px;
	

}
.menu .col_1 .border{
	
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #8F8F8F;


}



.border1{
	
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #8F8F8F;
	padding-left:10px;
	height:265px;
	
	
}
.border{
	
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #8F8F8F;
	padding-left:6px;
	height:100%;
	
	
}

.menu .col_2 {width:290px;}
.menu .col_3 {width:455px;}
.menu .col_4 {width:610px;}
.menu .col_5 {width:765px;}
.menu .col_6 {width:920px;}

/* IMPORTANT */

/* Use the firstcolumn class for the items that stick to the left edge of the dropdown */
.menu .firstcolumn {
	margin-left: 0; /* Clearing margin & left */
	clear: left;
}



/*  _______________________________________

	03 CONTENT STYLING
    _______________________________________  */



.menu p,
.menu ul,
.menu li,
.menu h2,
.menu h3 {
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 21px;
	text-align: left;
	margin-right: 11px; /*Apostasi menu items */
}
.menu p {
	font-size:12px;
	line-height:18px;
	margin:0;
	margin-bottom:10px;
	text-shadow:1px 1px #000000;
}
.menu .strong {
	font-weight:bold;
}
.menu .italic {
	font-style:italic;
}
.menu h2, 
.menu h3 {
	text-shadow:1px 1px #000000;
	margin-top:7px;
}
.menu h2 {
	font-weight:400;
	font-size:21px;
	margin-bottom:18px;
	padding-bottom:11px;
}
.menu h3 {
	font-weight:600;
	font-size:14px;
	margin-bottom:14px;
	padding-bottom:7px;
}
.menu li:hover div a {
	text-decoration:none;
	text-shadow:none;
	border:none;
	padding:0;
}
.menu .pusher { /* Use this pucher if you want to give more vertical spacing between your rows of content */
	margin-top:18px;
}

/* Icon paragraphs */

.menu .help,
.menu .favorite,
.menu .mail,
.menu .print {
	padding-left:36px;
	margin-bottom:18px;
}
.menu .help {background:url("../../graphics/menu/img/help.png") no-repeat 0 2px;}
.menu .favorite {background:url("../../graphics/menu/img/favorite.png") no-repeat 0 2px;}
.menu .mail {background:url("../../graphics/menu/img/mail.png") no-repeat 0 2px;}
.menu .print {background:url("../../graphics/menu/img/print.png") no-repeat 0 2px;}

/* Images styles */

.menu .imgshadow_dark,
.menu .imgshadow_light {
	padding:4px;
	margin-top:5px;
}
.menu .img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:2px 0 5px 0;

}
.menu .img_right { /* Image sticks to the right */
	width:auto;
	float:right;
	margin:2px 0 5px 15px;
}

/* Box styles */

.menu li .black_box,
.menu li .dark_grey_box {
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
}

/* Standard lists styles */

.menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
.menu li ul li { /* drop down menu font*/
	font-size:11px; 
	line-height:24px;
	position:relative;
	/*text-shadow: 1px 1px 1px #000000;*/
	padding:0;
	margin:0;
	float:left;
	text-align:left;
	width:147px;
}
.menu li ul li a {
	padding:0;
}
.menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

/* Greybox lists styles */

.menu li .greybox li {
	margin:0 0 4px 0;
	padding:4px 6px 4px 6px;
	width:131px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
}
.menu li .greybox li:hover {
	padding:4px 6px 4px 6px;
	margin:0 0 4px 0;
}

/* Other lists styles */

.menu li .plus li {
	margin:0 0 4px 0;
	padding:0 0 0 21px;
	width:109px;
}
.menu li .plus li:hover {
	padding:0 0 0 21px;
	margin:0 0 4px 0;
}

/* Social Icons */

.menu li ul.social {
	list-style:none;
	margin:0;
	padding:0;
}
.menu li ul.social li {
	padding-top:5px;
	margin:0 12px 12px 0;
	float:left;
	position:relative;
	display:inline;
	width:32px;
}
.menu li ul.social li img {
	border:none;
}
.menu li ul.social li:hover {
	padding-top:5px;
	margin:-1px 12px 12px 0;
}
.menu li ul.social li span {
	display:none;
}

/* 2-Levels Drop Down */

.menu .levels, 
.menu .levels ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.menu li:hover .levels a {
	display:block;
}
.menu .levels a {
	display: block;
	/*width: 13em; platos menu dropdown*/
}
.menu .levels li {
	float: left;
	width:150px;
}
.menu .levels li ul {
	position: absolute;
	top:-23px;
	margin:15px 0 0 4px;
	padding-left:6px;
	padding-top:6px;
		padding-bottom:6px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
	left: -999em;
}


#anatmak  {
	
	top:-47px;
	
}

#kentmak  {
	
	top:-71px; /*-24*/
	
}
#ditimak  {
	
	top:-95px; /*-24*/
	
}

#ipiros  {
	
	top:-119px; /*-24*/
	
}
#thessalia  {
	
	top:-143px; /*-24*/
	
}
#sterea  {
	
	top:-191px; /*-24*/
	
}
#evia  {
	
	top:-191px; /*-24*/
	
}
#ionio  {
	
	top:-130px; /*-24*/
	
}
#sporades  {
	
	top:-71px; /*-24*/
	
}
#pel  {
	
	top:-239px;
	
}
#kyklades  {
	
	top:-311px; /*-24*/
	
}
#dwdeka  {
	
	top:-263px; /*-24*/
	
}

#crete  {
	
	top:-359px; /*-24*/
	
}
#xartes  {
	
	top:-311px; /*-24*/
	

}
#porthmia  {
	
	top:-24px;
	/*-24*/
	

}
.menu .levels li:hover ul ul, 
.menu .levels li:hover ul ul ul {
	left: -999em;
}
.menu .levels li:hover ul, 
.menu .levels li li:hover ul, 
.menu .levels li li li:hover ul {
	left: 145px;
}



/*  _______________________________________

	04 CONTACT FORM
    _______________________________________  */



.contact_form label, 
.contact_form legend {
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
}
.contact_form legend {
	margin-bottom:10px;
}
.contact_form {
	display: block;
	margin-bottom:10px;
}
.contact_form label {
	display: inline-block; 
	float: left; 
	height: 36px; 
	line-height: 36px; 
	width:80px;
	font-size:12px; 
}
.contact_form input, 
.contact_form textarea, 
.contact_form select {
	
	width:200px;
	padding: 5px;
	
   
}   
.contact_form textarea {
	resize:none;
}   
.contact_form .required {
	color:#C00;
}
.contact_form .form_buttons {
	margin:4px 0 0 80px;
}
.contact_form input.button {
	width: 80px;
	margin-right:10px;
	cursor: pointer;
	padding: 4px 7px 4px 7px;
}
.contact_form .special {
	display:none;
}
.contact_form .error, 
.contact_form .sent {
	font-size:11px;
	padding:2px 5px 2px 5px;
	text-shadow:none;
	-webkit-border-radius:3px; 
	-moz-border-radius:3px; 
	border-radius: 3px;
}
.contact_form .error {
	background:#FBE5E2; 
	border:#F2A197 solid 1px; 
	color:#992213;
}
.contact_form .sent {
	background:#E1F8CB; 
	border:#C6D880 solid 1px; 
	color:#37620d;
}



/*  _______________________________________

	05 LIGHT THEME
    _______________________________________  */



.menu_light_theme ul li:hover,
.menu_light_theme ul li.nodrop:hover {
	background:#fff;
	border:1px solid #444444;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#EEEEEE));
	background: -webkit-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -o-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -ms-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: linear-gradient(top, #F4F4F4, #EEEEEE);*/
}
.menu_light_theme ul li:hover a {
	color:#161616;
	border-bottom:1px solid #EEEEEE;
}
.menu_light_theme ul li .drop,
.menu_light_theme .menu li.noactive .drop {
	background:url("../../graphics/menu/img/arrow_down2.png") no-repeat right 13px;

	
}
.menu_light_theme ul li:hover .drop {
	background:url("../../graphics/menu/img/arrow_down1.png") no-repeat right 12px;
}
.menu_light_theme ul .dropdown_maps,
.menu_light_theme ul .dropdown_1column, 
.menu_light_theme ul .dropdown_2columns, 
.menu_light_theme ul .dropdown_2columns_first_level, 
.menu_light_theme ul .dropdown_2columns_first_level1, 
.menu_light_theme ul .dropdown_2columns_first_level_variation_a,
.menu_light_theme ul .dropdown_3columns, 
.menu_light_theme ul .dropdown_4columns,
.menu_light_theme ul .dropdown_5columns,
.menu_light_theme ul .dropdown_fullwidth,
.menu_light_theme ul .levels li ul {
	background:#fff;
	border:1px solid #444444;

	
	-webkit-box-shadow: 0 0 5px #666666;
	-moz-box-shadow: 0 0 5px #666666;
	box-shadow: 0 0 5px #666666;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#BBBBBB));
	background: -webkit-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -o-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -ms-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: linear-gradient(top, #EEEEEE, #BBBBBB);*/
}
.menu_light_theme ul p,
.menu_light_theme ul h2, 
.menu_light_theme ul h3,
.menu_light_theme ul li ul li {
	/*text-shadow: 1px 1px 1px #FFFFFF;*/
}
.menu_light_theme ul h2, 
.menu_light_theme ul h3 {
	border-bottom:1px solid #888888;
}
.menu_light_theme ul .imgshadow_dark { /* Better style on dark background */
	background:#FFFFFF;
	border:1px solid #333333;
	-moz-box-shadow:0 0 5px #000000;
	-webkit-box-shadow:0 0 5px #000000;
	box-shadow:0 0 5px #000000;
}
.menu_light_theme ul .imgshadow_light { /* Better style on light background */
	background:#FFFFFF;
	border:1px solid #777777;
	-webkit-box-shadow:0 0 5px #666666;
	-moz-box-shadow:0 0 5px #666666;
	box-shadow:0 0 5px #666666;
}
.menu_light_theme ul li .black_box {
	color:#ffffff;
	text-shadow:1px 1px 1px #000000;
	background-color:#333333;
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}
.menu_light_theme ul li .dark_grey_box {
	color:#ffffff;
	text-shadow:1px 1px 1px #000000;
	background-color:#555555;
	-webkit-box-shadow:inset 0 0 3px #111111;
	-moz-box-shadow:inset 0 0 3px #111111;
	box-shadow:inset 0 0 3px #111111;
}
.menu_light_theme ul li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
}
.menu_light_theme ul li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
}
.menu_light_theme ul li .plus li {
	background: url("../../graphics/menu/img/plus.png") left 6px no-repeat;
}
.menu_light_theme ul .levels a.parent
{
	/*background: url("../../graphics/menu/img/arrow_right1.png") right 10px center no-repeat;*/
	margin-right:10px;
	background: url("../../graphics/menu/img/arrow_right1.png") right center no-repeat !important; 
}

	
	
	
.levels li:hover a.parent{
	background: url("../../graphics/menu/img/arrow_right3.png") right center no-repeat !important; 
	  }/* velaki portokali*/

	
.menu_light_theme ul .contact_form input:focus, 
.menu_light_theme ul .contact_form textarea:focus, 
.menu_light_theme ul .contact_form select:focus,
.menu_light_theme ul .contact_form input:hover, 
.menu_light_theme ul .contact_form textarea:hover, 
.menu_light_theme ul .contact_form select:hover {
	box-shadow: rgba(0,0,0, 0.7) 0 0 3px;
	-moz-box-shadow: rgba(0,0,0, 0.7) 0 0 3px;
	-webkit-box-shadow: rgba(0,0,0, 0.7) 0 0 3px;  
	border:1px solid #333333;
}
.menu_light_theme ul .contact_form input, 
.menu_light_theme ul textarea, 
.menu_light_theme ul select {
	color: #FFFFFF; 
	background-color:#222222;
	border:1px solid #0A0A0A;
}
.menu_light_theme ul .contact_form input.button {
	background-color:#1E1E1E;
	border:1px solid #0A0A0A;
	color:#cccccc;	
}
.menu_light_theme ul .contact_form input.button:hover {
	color:#eeeeee;	
	background-color:#222222;
	border:1px solid #000000;
}
.menu_light_theme .menu li:hover div a {
	border-bottom:none;
}
.menu_light_theme .menu li.noactive a {
	color:#000;
}






/*  _______________________________________

	07 COLORS
    _______________________________________  */




/* Blue */

.menu_blue {
	background: #545454; /* backgrounf color gia menu bar */
	
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#0272a7), to(#013953));
	background: -webkit-linear-gradient(top, #0272a7, #013953);
	background: -moz-linear-gradient(top, #0272a7, #013953);
	background: -o-linear-gradient(top, #0272a7, #013953);
	background: -ms-linear-gradient(top, #0272a7, #013953);
	background: linear-gradient(top, #0272a7, #013953);*/
}
.wrapper_menu .menu_blue {
	min-width:980px;
border-top: 3px solid #E7E7E7;
	border-bottom: 3px solid #E7E7E7;
	
}
.wrapper_menu_full .menu_blue {
	border-bottom: 1px solid #232426;
}

.menu_light_theme .menu_blue li:hover div a {color:#015b86;}
.menu_light_theme .menu_blue li:hover div a:hover {color:#0071bc;}
.menu_light_theme .menu_blue li ul li a:hover {
color:#ffffff!important; 
		border-top:1px solid #0071bc;
	border-bottom:1px solid #0071bc;
	background-color:#999 !important;
	margin-left:-6px;            /*menu hover all */
	padding-left:5px;
	padding-right:1px;
margin-top:-1px;
margin-bottom:-1px;
margin-right:2px;
}

.menu_blue ul li:hover a.parent{

	color:#ffffff!important; 
	border-top:1px solid #0071bc;
	border-bottom:1px solid #0071bc;
		background: url("../../graphics/menu/img/arrow_right3.png") right 5px center no-repeat !important;
	background-color:#999 !important;
	margin-left:-6px;
	margin-right:2px;
	padding-left:5px;
	margin-top:-1px;
margin-bottom:-1px;

	 }/* color on hover static portokali*/
/*  _______________________________________

	08 MOBILE DEVICES
    _______________________________________  */



.menu li.noactive,
.menu li.noactive:hover {
	background:none;
	border:none;
	margin-right:5px;
color:#000;
}
.menu li.noactive a {
	padding: 5px 27px 3px 10px;
/**<!--	text-shadow: 1px 1px 1px #000;-->*/
color:#000;
	border-bottom:none;
}
.menu li.noactive.right {
	margin-right:0;
}

